/* You can add custom styles here. */



// @import "plugins/numbered";

// markdown setting
.markdown h1 {
font-size: 1.7em;
}

.markdown h2 {
    font-size: 1.6em;
}

.markdown h3 {
    font-size: 1.5em;
}

.markdown h4 {
    font-size: 1.4em;
}

.markdown h5 {
    font-size: 1.3em;
}

.markdown h6 {
    font-size: 1.2em;
}

// TOC font setting
#TableOfContents > ul {
    /* 여기에 원하는 스타일을 적용하세요 */
    font-size: 1.2em;
}


a.internal-link {
    text-shadow: none !important;
    background: none !important;
}


h1#page-title {
    font-size: 24px !important;
}


