// Replace this with your own font imports!
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=IBM+Plex+Sans:wght@400;600&display=swap');


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


:root {
  --font-body: "Pretendard-Regulars", sans-serif;
  --font-header: "Pretendard-Regular", sans-serif;
  --font-mono: "PyeongChangPeace-Bold", monospace;
}

// Example local font declaration

// @font-face {
//   font-family: "PP Mori";
//   font-style: normal;
//   font-weight: normal;
//   src: url('fonts/PPMori-SemiBold.woff2');
// }
